<div id="bitcoin">
  <h1>BitCoin</h1>
  <ul>
    <li v-for="value in bpi">
      {{value.code}}:{{value.rate_float}}
    </li>
  </ul>
  <pre>{{$data}}</pre>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<%= javascript_pack_tag 'bitcoin' %>
