<h1>要素の取得</h1>
<div>
  <span id="desc1">こんにちは</span>
  <span id="desc2",class="js-text">こんにちは,jquery</span>
</div>
<div>
  <h1>春</h1>
  <p>陽春の候</p>
  <h1>夏</h1>
  <p>盛夏の候</p>
  <h1>秋</h1>
  <p>初秋の候</p>
  <h1>冬</h1>
  <p>大寒の候</p>
</div>
<div>
  <form>
    お使いのOSは？:
    <label>
      <input type="radio" name="os" value="windows">Windows
    </label>
    <label>
      <input type="radio" name="os" value="mac">Mac OS
    </label>
    <label>
      <input type="radio" name="os" value="unix">Unix
    </label>
  </form>
</div>
<section>
  <p>Foobar発売中</p>
  <p>
    手軽に読める速習シリーズ第６弾。
    <span class="keywd">ECNAscript</span>の機能をサクッと学ぼう。
    <span class="keywd">await構文</span>
    <span class="keywd">正規表現</span>
  </p>
</section>
<section id=170>
  <ul id="menu">
    <li><a href="http://www.a.com"></a>a</li>
    <li><a href="http://www.b.com"></a>b</li>
    <li><a href="http://www.c.com"></a>c</li>
    <li><a href="http://www.d.com"></a>d</li>
    <li><a href="http://www.e.com"></a>e</li>
    <li><a href="http://www.f.com"></a>f</li>
  </ul>
</section>
<%= javascript_pack_tag 'js/code/getting_elements' %>