<div id="slider">
  <v-app id="inspire">
    <div class="text-center">
      <v-slider
        v-model="model"
        :max="6"
        :tick-labels="rounded"
      ></v-slider>

      <v-sheet
        :class="radius"
        :max-width="model === 6 ? 128 : 256"
        class="mx-auto transition-swing secondary"
        elevation="12"
        height="128"
        width="100%"
      ></v-sheet>
      <code class="text-subtitle-1">.{{ radius }}</code>
    </div>
    <div class="text-center">
      <h2>スライダーのみ</h2>
      <v-slider></v-slider>
      <h2>シートのみ</h2>
      <v-sheet
        :max-width="128"
        class="mx-auto transition-swing indigo"
        elevation="12"
        height="128"
        width="100%"
      >
        シート
      </v-sheet>
    </div>
    <%= render 'd-none' %>
    <%= render 'card' %>
  </v-app>
</div>